# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
# This will ignore node_modules in the root and in /server
node_modules/

# Vite build output
dist
dist-ssr

# Vite cache
.vite/

# Environment variables
# Never commit secrets!
.env
.env.*
!.env.example

# Local files
*.local

# Test reports
coverage
.nyc_output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
